<!doctype html>
<html lang="zh">
    <%-include("../ejs/header.html")%>
  <body>
    <%-include("../ejs/git-corner.ejs")%>
    <%-include("../ejs/nav.ejs")%>


    <div class="container">
        <%- include("../ejs/tabs.html",{active:'solution_list',solution_list_link,link,solutions,data})%>
        <div style="text-align:center;">
            <h1>
                <%= sid%> : <%= title %>
            </h1>
        </div>
        <table class="table fs-5" style="max-width:800px;margin:0 auto;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">标题</th>
                    <th scope="col">作者</th>
                </tr>
            </thead>
            <tbody>
            <% for(let i = 0;i<solutions.length;i++) {
                let link = solutions[i].link
                let home = solutions[i].home || '#'
                        %>
                <tr>
                    <th scope="row">
                        <a class="plink" target="__blank__" href="<%- link%>">
                            <%= i+1 %>
                        </a>
                    </th>
                    <td>
                        <a class="plink" target="__blank__" href="<%- link%>">
                            <%= solutions[i].title%>
                        </a>
                    </td>
                    <td>
                        <a class="plink" target="__blank__" href="<%- home %>">
                            <%= solutions[i].author || '未知' %>
                        </a>
                    </td>
                </tr>
            <%}%>
            </tbody>
        </table>
    </div> <!-- end container -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
</html>
